@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-get-in-touch {
      @apply bg-white text-black;
  }

  .btn-schedule-demo {
      position: relative;
      overflow: hidden;
      z-index: 1;
      background: #000;
      color: #fff;
      border: 1px solid #fff;
  }

  .btn-schedule-demo::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 300px;
      background: conic-gradient(from 0deg, #ffffff, #000000, #ffffff);
      z-index: -1;
      transform: translate(-50%, -50%);
      animation: rotate 4s linear infinite;
      filter: blur(15px);
  }

  .btn-schedule-demo::after {
      content: '';
      position: absolute;
      z-index: -2;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background: #000;
      border-radius: 0.25rem;
  }

  @keyframes rotate {
      0% {
          transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
          transform: translate(-50%, -50%) rotate(360deg);
      }
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
  .animate-marquee2 {
    animation: marquee2 40s linear infinite;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes marquee2 {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}